*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-text {
    font-size: 5rem;
}

.content-page {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.side-nav {
    background-color: gray;
}

.nav-item {
    margin: 1rem;
}

.task-button {
    border: none;
    padding: 1rem;
    background-color: lightblue;
}

.task-button:hover {
    cursor: pointer;
}

.content-div {
    border: 1px solid blue;
}

.content-title {
    color: green;
    font-weight: 600;
}

